.aboutContainer{
    background-color: #E5DDD5;
    color: black;
    display: grid;
    grid-template-rows: 3fr 6fr 5fr 5fr 1.5fr 2fr 1fr;
    max-width: 100%;
}

#aboutMeTitle{
    display: grid;
    text-align: center;
    align-items: center;
}

#aboutMeBanner{
    display: grid;
    align-items: center;
    justify-items: center;
}

#aboutMeBanner img{
    max-width: 80%;
}

.aboutTextBlock1{
    padding-left: 10px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: center;
}

.aboutTextBlock1 div img{
    max-width: 60%;
}

.aboutTextBlock2{
    padding-left: 10px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
}

.picBlock{
    display: grid;
    justify-items: center;
}

.aboutTextBlock2.picBlock{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.aboutTextBlock2 div img{
    
    max-width: 60%;
}

#letsBeFriends{
    display: grid;
    justify-content: center;
    align-items: center;
}

.aboutText{
    max-width: 65ch;
}