#Header{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 80px;
    max-width: 100%;
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 3;
    z-index: 3;

}

#HeaderLogo{
    display: flex;
    gap: 10px;
    
    text-align: center;
    align-items: center;
    width: 40%;
    height: 100%;
    color: #E5DDD5;
    font-size: .5rem;
    
    
}

#HeaderLogo h1{
    margin: 0;
}

#headerLogo{
    display: grid;
    max-width: 10%;
    padding-left: 10px;
    
}

#headerLogo img{
    
    min-height: auto;
    max-width: 100%;
    align-self:center;
}

.HeaderLink{
    display: grid;
    text-align: center;
    align-items: center;
    width: 15%;
    height: 100%;
    color: #E5DDD5;
    background-color: black;
    
}

.headerBtn{
    border-style: none;
    background-color: black;
    color:#E5DDD5;
    font-size: 1.0em;
}

.headerBtn:hover{
    height: 100%;
    width: 100%;
    background-color: #a05e5a;
}

#headerDropdown{
    visibility: hidden;
    z-index: 3;
}

#aboutTab:hover + #headerDropdown{
   
    visibility: visible;
    opacity: .9;
}

#headerDropdown:hover{
    
    visibility: visible;
    opacity: .9;
}

.hiddenHeader{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.showHeader{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    
}




