#Header{
    display: flex;
    width: 100%;
    background-color: #934C47;
    grid-column-start: 1;
    grid-column-end: 3;

}

#HeaderLogo{
    display: grid;
    text-align: center;
    align-items: center;
    width: 40%;
    height: 100%;
    color: #E5DDD5;
    
}

.HeaderLink{
    display: grid;
    text-align: center;
    align-items: center;
    width: 15%;
    height: 100%;
    color: #E5DDD5;
}

