#Home{
    display: grid;
    grid-template-rows: 20% 60% 20%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    grid-column-start: 2;
    grid-column-end: 3;
}

.sectionHeader{
    align-self: start;
}

#HomeCurrentRead{
    display: flex;
    background-color: #E5DDD5;
    
}

.dummyRead{
    height: 100%;
    width: 10%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
}
#HomeRecentPosts{
    background-color: #C39F97;
    display: flex;
    gap: 10px;
    align-items: center;
}

.dummyBlog{
    background-color: #934C47;
    height: 50%;
}

.dummyBlogButton{
    background-color: #a96e6c;
    border-style: none;
}

#HomeIGPosts{
    background-color: #E5DDD5;
}

@media screen and (max-width: 500px) {
    #Home{
        grid-column-start: 1;
        grid-column-end: 3;
    }

}

