#Home{
    max-width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-column-start: 2;
    grid-column-end: 3;
}

.sectionHeader{
    align-self: start;
    padding-left: 10px;
}

#HomeName{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../images/BlogCover.png');
    filter:opacity(.7);
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#HomeName h1{
    filter: opacity();
    color: black;
    font-size: 2.5rem;
}

#HomeName h3{
    filter: opacity(1);
    color: black;
    font-size: 1.5rem;
}

#HomeCurrentRead{
    display: grid;
    justify-self: center;
    justify-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(126, 116, 116);
    max-width: 90%;
}

#HomeCurrentRead img{
    
    max-width: 100%;
}

#HomeThreeLinks{
    display: flex;
    max-width: 100%;
}

#HomeThreeLinks div{
    max-width: 33%;
}

#ratingScale{
    max-width: 100%;
    min-height: 50%;
    background-image: url('../images/Rating_System.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.threelinks img{
    max-width: 100%;
}

@media screen and (max-width: 500px) {
    #Home{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .currentReadContainer{
        display: flex;
        flex-direction: row;
        overflow: scroll;
    }

    .currentReadContainer::-webkit-scrollbar{
        display: none;
    }

    .dummyBlog{
        max-width: 100%;
    }

    .dummyRead{
        max-width: fit-content;
    }

    .blogDescrip{
        font-size: 2.0vw;
    }

}

