#Home{
    max-width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-column-start: 2;
    grid-column-end: 3;
    
    
}

.sectionHeader{
    align-self: start;
    padding-left: 10px;
}

#HomeName{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../images/BlogCover.png');
    filter:opacity(.7);
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#HomeName h1{
    filter: opacity();
    color: black;
    font-size: 2.5rem;
}

#HomeName h3{
    filter: opacity(1);
    color: black;
    font-size: 1.5rem;
}

#HomeCurrentRead{
    display: grid;
    justify-self: center;
    justify-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    
    
    max-width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#HomeCurrentRead img{
    
    max-width: 100%;
}

#HomeThreeLinks{
    display: flex;
    max-width: 100%;
    padding-top: 20px;
}

#HomeThreeLinks div{
    display: grid;
    justify-items: center;
    
    align-items: flex-end;
    
}

.threelinks{
    
    min-width: 30%;
    margin: 15px;
}
.threelinks img{
    
    max-width: 100%;
    
}

#ratingScale{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url( '../images/Rating_System.png');
    background-size:cover;
    background-position: center;
    height: 300px;
    width: 100%;
}

#ratingScale img{
    
}

#wrapup{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url( '../images/2022WrapUp.png');
    background-size:cover;
    background-position: center;
    height: 300px;
    width: 100%;
}

#wrapup img{

}

#aboutmeicon{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url( '../images/ptwnlogo.png');
    background-size:cover;
    background-position: center;
    height: 300px;
    width: 100%;
}

#aboutmeicon img{

}

#newestPost{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-left: 15px;
    margin-right: 15px;
    max-width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



#newestPost img{
    max-width: 100%;
    grid-column-start: 1;
    grid-row-start: 1;
}

#newestPost button{
    
    z-index: 3;
    max-height: 30px;
    justify-self: center;
    align-self: center;
    grid-column-start: 1;
    grid-row-start: 1;
    font-size: 1.5vw;
    font-weight: bolder;
    border-color: #a96e6c;
    border-width: 5px;
    border-style: solid;
    color:#a96e6c;
    background: white;
}

.recentPost{
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#lastSix{
    max-width: 100%;
    justify-self: center;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-left: 15px;
    padding-top: 15px;
}

.sectionHeader{
    padding-left: 15px;
}

.recentPost img{
   min-height: 100%;
   max-width: 100%;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}


.show{
    opacity: 1;
    filter: blur(0);
    transform:translateX(0)
}

@media screen and (max-width: 500px) {
    #Home{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .currentReadContainer{
        display: flex;
        flex-direction: row;
        overflow: scroll;
    }

    .currentReadContainer::-webkit-scrollbar{
        display: none;
    }

    .dummyBlog{
        max-width: 100%;
    }

    .dummyRead{
        max-width: fit-content;
    }

    .blogDescrip{
        font-size: 2.0vw;
    }

}

