#Sidebar{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a96e6c;
    color: #E5DDD5;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
}

#SidebarImage{
    margin: 15%;
    display: grid;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    text-align: center;
    align-items: center;
}

#SidebarImage img{
    height: 80%;
    width: 100%;
    border-radius: 50%;
}

#SidebarSummary{
    text-align: center;
    margin: 10%;
}

#SidebarLinks{
    width: 100%;
    height: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    text-align: center;
    
}

.sLink{
    
    height: auto;
    
}

@media screen and (max-width: 500px) {
    #Sidebar{
        display: none;
    }

}